# Python
__pycache__/
*.pyc
.venv/
venv/
.env

# Local data outputs
data/raw/*.csv
data/bronze/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Spark
spark-warehouse/
derby.log
metastore_db/

# Power BI temp files
*.tmp
*.bak

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
